.button {
  font-family: montserrat;
  width:fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 0.8rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.8rem 0.2rem rgb(8, 8, 8);
  font-weight: 500;
  font-size: 2rem;
  background-color: rgba(180, 3, 12, 0.973);
  color: rgb(255, 230, 4);
  
}
.button:hover {
  cursor: pointer;
  background-color: rgb(253, 0, 0);

}
.button:active {
  box-shadow: none;
  transform:translateY(5%);
}

