
*{
  margin: 0;
  padding: 0;
  
}
body {
  
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  
}
html{
  font-size:3vh;
  overflow-x: hidden;
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width:150vh)
{
  html{
    font-size:3vw;
  }
  body{
    text-align: center;
    
  }
}
